<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel='stylesheet' href='/stylesheets/foundation.min.css'/>
    <script src='foundation.min.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div><a href="/photo/new">Upload a photo!</a>
    <div>
      <ul class="small-block-grid-3">
        <%  photos.forEach(function(element){ %>
          <li><a href=<%='/photo/' + element._id.toHexString() %>><div>Name: <%= element.name %></div></a>
          <div>Description: <%= element.description %></div>
          <img src=<%=element.thumbnail_location%>>
          <%})%></li>
      </ul>
    </div>
  </body>
</html>
