<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel='stylesheet' href='/stylesheets/foundation.min.css'/>
    <script src='/javascripts/foundation.min.js'></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <a href="/" class="text-center"><h1>Photo Gallery</h1></a>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <a href="/photo/new" class="small button">Upload a photo!</a>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-3">
          <%  photos.forEach(function(element){ %>
            <li>
              <a href=<%='/photo/' + element._id.toHexString() %>><img src=<%=element.thumbnail_location%>></a>
              <div>Name: <%= element.name %></div>
              <div>Description: <%= element.description %></div>
              </li>
          <%})%>
          </ul>
      </div>
    </div>
  </body>
</html>
